.mouse {
  width: 24px;
  height: 38px;
  border: 1px solid $borderHairline;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $accent;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 26px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 26px;
  }
}
